/* estilo de titulo principal*/
h1 {
    text-align: center;
    background-color: rgb(7, 7, 7);
    padding: 40px; 
    color: #ffffff;
}
/* sub titulos (nombre de los perros */
h2 {
    background-color: rgb(209, 209, 208);
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
}
/* usando para el nombre de las secciones */
h3{
    background-color: rgb(8, 8, 8);
    text-align: left;
    text-shadow: 4px 4px 5px rgba(8, 8, 8, 0.8);
    padding: 10px; 
    border-radius: 100px; 
    color: #ececec;
}
/* configurar imagenen */
img {
    width: 300px;
    border: 2px solid #ccc; 
    margin: 10px;
    border-radius: 5px; 
    border-image: auto;
}
/* para cuando pase el mause por arriba */
img:hover {
    transform: scale(1.50); 
}

body {
    font-family: 'Times New Roman', Times, serif; 
    background-color: #b6b3b3; 
    color: #05023b; 
    margin: 100px;
    padding: 20;
}
/* editar imagen del box */
.box img{
    margin: 12%; 
}
.box {
    display: flex; 
    gap: 60px; 
    justify-content: center;
    flex-wrap: wrap; 
    margin: 20px; 
    
}

article {
    width: 400px; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: white; 
}
.boton {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #050505; 
    color: white; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-decoration: none;
}
.boton:hover{
    transform: scale(1.50); 
}

