*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
font-size:1rem;
}

body{
line-height:1.6;
background:#000;
color:white;

/* ex marc */
margin:20px;
min-height:calc(100vh - px);

border:6px solid #d4af37;

 /* int marc*/
outline:2px solid #ffd700;
outline-offset:-12px;
}


section{
margin:150px auto;
padding:20px;
max-width:1200px;
}


.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;

background:#111;

border-bottom:2px solid gold;
}

/* 1 section */
nav{
display:flex;
gap:25px;
margin-left:40px;
}

nav a{
color:white;
text-decoration:none;
font-weight:600;

}

nav a:hover{
color:gold;
}


h1{
margin:40px auto;
max-width:900px;
padding:25px 30px;

font-size:2.2rem;
font-weight:700;
letter-spacing:1px;

background:linear-gradient(
90deg,
#000000 20%,
#3d2f00 50%,
#b8860b 75%,
#ffd700 100%
);

color:white;

border-left:6px solid gold;

border-radius:10px;

box-shadow:0 0 15px rgba(212,175,55,.35);
}

h2,h3,p{
color:white;
margin-bottom:20px;
}


.box{
display:flex;
gap:40px;
justify-content:center;
flex-wrap:wrap;
}


article{
width:300px;
padding:20px;

background:#111;

color:white;

border-radius:12px;
border:1px solid gold;

box-shadow:0 0 10px rgba(212,175,55,.2);

text-align:center;
}

article:hover{
transform:translateY(-5px);
}


img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

.boton{
display:block;
width:150px;
margin:20px auto;
text-align:center;
padding:10px 20px;
background:gold;
color:black;
border-radius:6px;
text-decoration:none;
}

.projects{
text-align:center;
}

.project-list{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:30px;
}

.project-card{
padding:25px;

background:#111;

color:white;

border:1px solid gold;
border-radius:12px;

text-decoration:none;
}

.project-card:hover{
background:gold;
color:black;
}

/* GALERIA  PETS */
.galeria{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
text-align:center;
}

.galeria img{
width:200px;
height:500px;
object-fit:cover;
}

.centrar{
text-align:center;
}

/* principal CONTAINER PAGE*/
.container{
width:85%;
max-width:1500px;
margin:20px auto;

background:#000;

padding:30px;

border-radius:12px;
border:2px solid gold;

box-shadow:0 0 15px rgba(212,175,55,.2);
}

/* RESPONSIVE */
@media(max-width:1024px){

.project-list{
grid-template-columns:repeat(2,1fr);
}

.galeria{
grid-template-columns:repeat(3,1fr);
}

}

@media(max-width:600px){

nav{
flex-direction:column;
align-items:center;
}

.project-list{
grid-template-columns:1fr;
}

.galeria{
grid-template-columns:repeat(2,1fr);
}

}